{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" id="post-cn">
            <h2>Bookmark post</h2>
            <form method="post" action=".">{% csrf_token %}
                <div>
                    {{ form.title.label_tag }} {{ form.title }}
                </div>
                <div>
                    {{ form.url.label_tag }} {{ form.url }}
                </div>
                <button type="submit">CREATE / UPDATE</button>
                <br>
                <br>
                <br>
            </form>
        </div>

        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock content %}