{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <div class = "jumbotron text-center">
            <h1>site name</h1> <br>
            <p>We create dreams. </p>
        </div>

        <div id="about" class = "container-fluid">
            <div class = "row">
                <div class = "col-sm-8">
                    <h2>About this...</h2>
                    <h4>We are a non-profit organization that was founded mainly as a donation foundation to give children with unfortunate backgrounds free gear.</h4>
                    <p>We will be receiving shoes, sport clothes, headbands, wristbands, and other gear related to playing baksetball as donations.  </p>
                </div>
                <div class = "col-sm-4">
                    <span class = "glyphicon glyphicon-heart logo"></span>
                </div>
            </div>
        </div>

        <div class = "container-fuild bg-grey">
            <div class = "row">
                <div class = "col-sm-4">
                    <span class = "glyphicon glyphicon-globe logo"></span>
                </div>
                <div class = "col-sm-8">
                    <h2>Values</h2>
                    <h4><strong>MISSION:</strong> Our mission is to give every kid the opportunity to reach a higher level in their passions.
                        We focus on giving children sufficient gear in order to play their favorite sports.</h4>
                    <h4><strong>VISION:</strong> Our vision is that every child will be able to play sports.</h4>
                </div>
            </div>
        </div>
        <div id="about1" class = "container-fluid">
            <div class = "row">
                <div class = "col-sm-8">
                    <h2>What We Offer</h2>
                    <h4><strong>DONEES:</strong> Donees simply have sign up to DONOR-HUB to receive free basketball gear such as shoes and clothes.
                        We offer goods based on supplies, but we generally give once a month. </h4>
                    <h4><strong>DONORS:</strong> Donors can donate their new or used gear in exchange for D-Tokens. With enough D-Tokens,
                        they can be used to purchase new gear from our sponsor company.</h4>

                </div>
                <div class = "col-sm-4">
                    <span class = "glyphicon glyphicon-transfer logo"></span>
                </div>
            </div>
        </div>
{% endblock content %}