{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <div class = "jumbotron text-center">
            <h1>SPORTS SHARE</h1> <br>
            <p>Share & Better</p>
        </div>

        <div id="about" class = "container-fluid">
            <div class = "row">
                <div class = "col-sm-8">
                    <h2>About this...</h2>
                    <h4>We are a non-profit organization that was founded mainly as a donation foundation to give children with unfortunate backgrounds free gear.</h4>
                    <p>We will be receiving shoes, sport clothes, headbands, wristbands, and other gear related to playing ice hockey as donations.  </p>
                </div>
                <div class = "col-sm-4">
                    <span class = "glyphicon glyphicon-heart logo"></span>
                </div>
            </div>
        </div>

        <div class = "container-fluid bg-grey">
            <div class = "row">
                <div class = "col-sm-4">
                    <span class = "glyphicon glyphicon-globe logo"></span>
                </div>
                <div class = "col-sm-8">
                    <h2>Values</h2>
                    <h4><strong>MISSION:</strong> Our mission is to give every kid the opportunity to reach a higher level in their passions.
                        We focus on giving children sufficient gear in order to play their favorite sports.</h4>
                    <h4><strong>VISION:</strong> Our vision is that every child will be able to play sports.</h4>
                </div>
            </div>
        </div>
        <div id="about1" class = "container-fluid">
            <div class = "row">
                <div class="col-sm-3"></div>
                <div class = "col-sm-6">
                    <h2>We are here</h2>

                        <div id="daumRoughmapContainer1611995130844"
                             class="root_daum_roughmap root_daum_roughmap_landing"></div>

                        <script charset="UTF-8" class="daum_roughmap_loader_script"
                                src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                        <!-- 실행 스크립트 -->
                        <script charset="UTF-8">
                            new daum.roughmap.Lander({
                                "timestamp" : "1611995130844",
                                "key" : "247bx",
                                "mapWidth" : "640",
                                "mapHeight" : "270"
                            }).render();
                        </script>
                        <br><br><br>

                <div class = "col-sm-3"></div>
            </div>
        </div>
{% endblock content %}